html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: white;
  font-family: "DejaVu Sans Light","DejaVu Sans",Verdana,"Bitstream Vera Sans",Geneva,sans-serif;
}
.icon{
  width: 50px;
  height: 50px;
  /*padding-right: 10px;*/
  transform:rotate(0deg);
  transform-origin: center;
  -webkit-transition: all 0.5s;
  -moz-transition:all 0.5s;
  -ms-transition:all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
  background-color: rgba(0,0,0,0);
}
/*
#mapping1{
  transform:rotate(0deg);
}*/
.statusBar {
  /*width:100%;*/
  height:60px;
  padding: 0px;
  background-color: #548CD4;
}/*
.statusBar a span {
  display: none;
}

.statusBar a:hover span { 
  background-color: #e9e9e2; 
  top : 60px;
  right:10px;
  text-align: center;
  color: black;
}
*/

.statusBar span {
    display:none;
}
.statusBar:hover span {
  position: absolute;
    display:block;
    position:fixed;
    overflow:hidden;
  background-color: #548CD4;
}
.statusBar #open{
  position: absolute;
  top:0px;
  right: 0;
}
.statusBar #menu{
  position: absolute;
  top:0;
  right: 60px;
}
.statusBar #center{
  position: absolute;
  top:0px;
  right:120px;
}
.statusBar #fit{
  position: absolute;
  top:0px;
  right: 180px;
}
.statusBar #hist{
  position: absolute;
  top:0px;
  right: 240px;
}
.statusBar #mapping{
  position: absolute;
  top:0px;
  right: 300px;
}
.statusBar #lbl{
  position: absolute;
  top:0px;
  right: 360px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /*margin: 1em 0;*/
    padding: 0;
    width: 70%;
}
.menu2{
  position: absolute;
  right: 0px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  text-align: center;
  font-weight: bold;
  color:transparent;
  border-radius: 0px 0px 0px 15px;
  top:55px;
  height:0px;
  /*width: 300px;*/
  overflow: hidden;
  -webkit-transition: color 10ms ease-in-out, background-color 1s, height 1s ease-in-out;
  -moz-transition:color 10ms ease-in-out, background-color 1s, height 1s ease-in-out;
  -ms-transition:color 10ms ease-in-out, background-color 1s, height 1s ease-in-out;
  -o-transition:color 10ms ease-in-out, background-color 1s, height 1s ease-in-out;
  transition:color 10ms ease-in-out, background-color 1s, height 1s ease-in-out;
  margin-left: 50% !important;
}
.menu2 #gParam{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 3px;
}


.menu2  #loader{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  text-align: left;
  padding: 3px;
}
.values{
  padding:0;
  text-align: right;
}
.values1{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  text-align: left;
  padding:0;
}
#infoBulle{
  position:absolute;
  display: none;
  margin-top:23px;
  margin-left:-35px;
  background-color: #EEF4FB;
  border-radius: 10px;
  color:#192A40;
  border: 5px solid #3B6294;
}
input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: none;
    /*1px solid white;*/

    /*required for proper track sizing in FF*/
    width: 100%;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #a6bddb;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

.aparac {
  display: flex;
  height: 100%;
}

.aparac > section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.aparac > section > div {
  flex-grow: 1;
  overflow: hidden;
}

.aparac > section header {
  color: white;
  background-color: #548CD4;
  padding: 1px 5px;
}

.aparac > section header > * {
  font-size: 90%;
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.aparac > aside {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  background-color: #5CA1D1;
  /*rgba(245,245,245,0.5);*/
  overflow-y: scroll;
  width: auto;
  height: 100%;
}

.aparac > aside > section > h2 {
  color: #07568F;
  /*background-color: grey;*/

  margin: 30px 0 0 0;
  padding: 4px 4px 4px 30px;

  /*box-shadow: 0 -3px 3px rgba(0,0,0,0.4);*/

  font-weight: bold;
}
.aparac > aside > section:first-child > h2 {
  margin-top: 0;
}
.aparac > aside > section > h4 {
  color: white;
  background-color: rgb(110,110,110);

  margin: 15px 0 0 0;
  padding: 4px 4px 4px 10px;

  font-weight: normal;
}
.aparac > aside h4:first-of-type {
  margin-top: 0;
}

.aparac > aside > section > * {
  display: block;
  margin: 4px 4px 4px 10px;
}
